*{
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

/* HEADER */
.site-header{
    height: 670px;
    width: 100%;
    background-image: url(/img/banner.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra{
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 750px;
}

a{
    text-decoration: none;
}

.navegacion a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding-left: 30px;
    text-decoration: none;
}

.texto-header{
    align-items: center;
    margin-top: 185px;
}

h1.no-margin{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 50px;
    margin: 0;
}
.custom-span {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h2.no-margin{
    color: white;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 3em;
    margin: 0;
}
header p.no-margin{
    color: white;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    padding-top: 80px;
    margin: 0;
}
/*BODY*/
.contenido-nosotros{
    text-align: center;
    padding-top: 30px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    margin: 0;
}
.contenido-principal{
    display: flex;
    align-items: center;
    gap: 50px;
}

.descripcion img{
    width: 100%;
    height: auto;
}
.espacio{
    width: 10%;
    height: auto;
}
.descripcion{
    padding-top: 30px;
    width: 40%;
    height: auto;
}
.descripcion p{
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 25px;
}
/* FOOTER */

.site-footer{
    margin-top: 120px;
    width: 100%;
    height: 150px;
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
}
footer p.no-margin{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 50px;
    margin: 0;
    padding-left: 200px;
}
.custom-span {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}